//==================== section form
.section-form {
	background: #0F5EBA fixed url("../images/form.png") 50% 50% no-repeat;
	padding-top: 190px;
	padding-bottom: 198px;
	-webkit-background-size: cover;
	background-size: cover;

	@include mobile{
		padding-top: 115px;
		padding-bottom: 105px;
	}

	h2{
		color: #fff;
		text-align: center;
		font: normal 90px/96px 'Proba';
		display: block;
		margin-bottom: 20px;
	}

	.sub_title{
		width: 1010px;
		margin: 0 auto 50px;
		color: #fff;
		text-align: center;
		font: normal 40px/50px 'Proba';
		display: block;

		@include mobile{
			width: 100%;
			margin-bottom: 70px;
		}
	}
}

//========= form agree check
.form-agree-check {
	font: 12px/15px "PT Sans";
	margin-top: 30px;

	.jq-checkbox {
		top: 1px;
	}
}

//==================== section form-x
.form-first {

	input{
		width: 100%;
		height: 90px;
		background-color: #fff !important;
		padding-left: 47px;
		color: #34404D !important;
		font: normal 20px/90px 'Proba';

		@include mobile{
			width: 67%;
			margin: 0 auto 20px;
		}
	}

	.btn-blue{
		width: 384px;
		height: 90px;
		display: block;
		margin: 30px auto 30px;
		text-align: center;
		color: #fff !important;
		font: normal 20px/90px 'Proba';
		background: #2E9AD7 !important;

		@include mobile{
			width: 67%;
		}

		&:hover{
			background: #247aad !important;

			span{
				@include general-transition;
				margin-left: 17px;
			}
		}

		span{
			display: inline-block;
			margin-left: 27px;
			margin-top: 3px;
			vertical-align: top;
		}
	}

	.form-agree-check{
		text-align: center;
		font: normal 20px/40px 'Proba';
		font-style: italic;
		color: #fff;

		.checkbox-label{
			padding-left: 0 !important;
		}
	}
}